<div class="main-content-wrap">
    <div id="friends">
        <h1 class="banner">旅行者，你将去往何方？</h1>
        <% for (var i in theme.friends) { %>
            <div class="friend">
                <% var friend = theme.friends[i] %>
                <a href="<%- friend.link %>" target="_blank" title="<%= friend.name %>">
                    <img class="avatar" src="<%- url_for('/assets/images/friends/' + friend.picture) %>" alt="<%= friend.author %>">
                </a>
                <p><a href="<%- friend.link %>" target="_blank" title="<%= friend.bio %>"><%= friend.author %></a></p>
            </div>
        <% } %>
        <h1 class="banner">我们怀念他们<span class="secondary">（的网站）</span></h1>
        <% for (var i in theme.deceased_friends) { %>
            <div class="friend">
                <% var friend = theme.deceased_friends[i] %>
                <a href="<%- friend.link %>" target="_blank" title="<%= friend.name %>">
                    <img class="avatar bw" src="<%- url_for('/assets/images/friends/' + friend.picture) %>" alt="<%= friend.author %>">
                </a>
                <p><a href="<%- friend.link %>" target="_blank" title="<%= friend.bio %>"><%= friend.author %></a></p>
            </div>
        <% } %>
    </div>
</div>
